
.product {
    text-align: center;
    width: 80%;
    
}
.titleProduct {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.descriptionProductTitle {
    font-size: rem;
    font-weight: bold;
    margin-top: 1rem;
    // margin: 1rem 0;
}

.descriptionProduct {
    font-size: 1.5rem;
    // margin: 1rem 0;
}